<!DOCTYPE html>
<html lang="en">
<head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-V461GQ8J6D"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-V461GQ8J6D');
</script>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Fight Predictor - Blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/twcss/bundle.css">
  <style>


    #logo {
      max-width: 200px;
      margin-bottom: 20px;
    }
    .container {
      max-width: 800px;
      margin: auto;
    }
    .list-group-item {
      margin-bottom: 20px;
      padding: 20px;
      border-radius: 5px;
      border: none;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }
  </style>
</head>
<body>
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="images/logo.png" alt="AI Fight Predictor" height="50" width="50"> AI Fight Predictor</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                </li>
				<li class="nav-item">
                    <a class="nav-link" href="{{ url_for('predict') }}">Predictor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('testimonials') }}">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('faq') }}">FAQ</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('blog') }}">Blog<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav> -->

    <div class="mb-24">
      <div
        class="py-[15px] md:px-[40px] px-[30px] bg-[#93A9A6] flex items-center sm:justify-start justify-between fixed left-0 right-0 top-0 z-50">
        <img src="/logo.svg" alt="" class="h-[50px] w-[50px]" />
        <a href="{{ url_for('home') }}" class="font-semibold text-white ml-[30px] cursor-pointer underline sm:flex hidden ">Home</a>
        <a href="{{ url_for('predict') }}" class="font-semibold text-white ml-[30px] cursor-pointer underline sm:flex hidden">Predictor</a>
        <a href="{{ url_for('fightnight') }}" class="font-semibold text-white ml-[30px] cursor-pointer underline sm:flex hidden">Weekly Fight Predictions</a>
        <div class="relative"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6 sm:hidden">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
          </svg></div>
      </div>
    </div>
    
  
  <div class="container mt-5">
    <header class="text-center my-4">
      <img src="images/logo.png" alt="AI Fight Predictor Logo" id="logo">
      <h1>AI Fight Predictor Blog</h1>
    </header>
    <div class="list-group">
        <a href="output/my-first-post.html" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">UFC on ABC 4: Rising Stars Shine and AI Proves its Worth in Predicting Outcomes</h5>
            <small>14/05/2023</small>
          </div>
          <p class="mb-1">Discover the highlights and surprises from UFC on ABC 4, as rising stars like Ian Garry make their mark in the Octagon. We also delve into the accuracy of the AI Fight Predictor in forecasting the outcomes of the thrilling match-ups. This recap provides an in-depth review of the event, including the major bouts, controversies, and the intriguing role of AI in sports betting.</p>
          <small>Read More...</small>
        </a>
        <a href="output/my-second-post.html" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Are you tired of losing your bets on MMA fights?</h5>
            <small>17/05/2023</small>
          </div>
          <p class="mb-1"> If so, then you need to check out our new machine learning model that can predict the winner of an MMA fight with 75% accuracy!

Our model is trained on a dataset of historical MMA fights and takes into account a variety of factors, including the fighters' past fight records, their physical attributes, and their fighting styles.

This means that you can use our model to make more informed predictions about the outcome of upcoming fights and increase your chances of winning your bets!

So what are you waiting for? Check out our model today and start winning more bets!...</p>
          <small>Read More...</small>
        </a>
        <a href="output/my-third-post.html" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">AI Fight Predictor Dominates UFC Fight Night: Dern vs. Hill with Stunning 10 out of 11 Correct Predictions</h5>
            <small>24/05/2023</small>
          </div>
          <p class="mb-1">UFC Fight Night: Dern vs. Hill defied expectations, delivering an unforgettable night of fights. Despite a seemingly average card on paper, the event was filled with thrilling matchups and surprising outcomes. Our AI fight predictor stood out by accurately predicting 10 out of 11 fights, showcasing its ability to analyze and forecast MMA bouts. From Mackenzie Dern's dominant performance to underdogs rising to victory, this event proved that appearances can be deceiving in the world of MMA.</p>
          <small>Read More...</small>
        </a>
        <!-- More blog post links here... -->
		 <a href="output/my-fourth-post.html" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Kai Kara-France vs. Amir Albazi: A Battle of Top Flyweights</h5>
            <small>29/05/2023</small>
          </div>
          <p class="mb-1">Flyweight Titans Collide: Kai Kara-France vs. Amir Albazi! Who will rise in the UFC rankings? Will Kara-France reignite his title hopes, or will Albazi continue his undefeated UFC run? Find out more in our in-depth fight preview. Click to read the full analysis now!</p>
          <small>Read More...</small>
        </a>
		
		<a href="output/my-fith-post.html" class="list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Cannonier's Triumph, Vettori's Downfall and the Countdown to Topuria vs Emmett</h5>
            <small>29/05/2023</small>
          </div>
          <p class="mb-1">Recap the surprising twists of Vettori vs Cannonier and gear up for the much-anticipated Topuria vs Emmett showdown. Plus, exciting updates from our AI fight predictor. Click to read more!</p>
          <small>Read More...</small>
    </div>
  </div>
</body>
</html>
