<!DOCTYPE html>
<html lang="en">
<head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-V461GQ8J6D"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-V461GQ8J6D');
</script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ - AI Fight Predictor</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/twcss/bundle.css">
	
   <script> 
        var MemberSpace = window.MemberSpace || {"subdomain":"aifightpredictor"};
        (function(d){
            var s = d.createElement("script");
            s.src = "https://cdn.memberspace.com/scripts/widgets.js";
            var e = d.getElementsByTagName("script")[0];
            e.parentNode.insertBefore(s,e);
        }(document));
    </script> 
	
</head>
	<body>
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"><img src="images/logo.png" alt="AI Fight Predictor" height="50" width="50"> AI Fight Predictor</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('home') }}">Home</a>
                </li>
				<li class="nav-item">
                    <a class="nav-link" href="{{ url_for('predict') }}">Predictor</a>
                </li>
				<li class="nav-item">
                    <a class="nav-link" href="{{ url_for('fightnight') }}">Weekly Fight Predictions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('testimonials') }}">Pricing</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('faq') }}">FAQ <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav> -->
    <div class="mb-24">
      <div
        class="py-[15px] md:px-[40px] px-[30px] bg-[#93A9A6] flex items-center sm:justify-start justify-between fixed left-0 right-0 top-0 z-50">
        <img src="/logo.svg" alt="" class="h-[50px] w-[50px]" />
        <a href="{{ url_for('home') }}" class="font-semibold text-white ml-[30px] cursor-pointer underline sm:flex hidden ">Home</a>
        <a href="{{ url_for('predict') }}" class="font-semibold text-white ml-[30px] cursor-pointer underline sm:flex hidden">Predictor</a>
        <a href="{{ url_for('fightnight') }}" class="font-semibold text-white ml-[30px] cursor-pointer underline sm:flex hidden">Weekly Fight Predictions</a>
        <div class="relative"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6 sm:hidden">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
          </svg></div>
      </div>
    </div>
  <div class="container mt-5">
    <header class="text-center my-4">
      <h1>Frequently Asked Questions</h1>
    </header>
    
    <div id="faqAccordion">
      <div class="card">
                <div class="card-header">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Question 1: How does the AI Fight Predictor work?
                        </button>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#faqAccordion">
                    <div class="card-body">
                        Answer 1: The AI Fight Predictor uses artificial intelligence algorithms and data analysis to predict the outcomes of fights. It takes into account various factors such as fighter statistics, past performance, and fighting style.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Question 2: How accurate are the predictions?
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faqAccordion">
                    <div class="card-body">
                        Answer 2: The accuracy of the AI Fight Predictor depends on various factors, including the quality of the data and the complexity of the algorithms. While no prediction system can guarantee 100% accuracy, our AI Fight Predictor aims to provide the most accurate predictions possible based on the available data. Currently we are sitting at 74%
                    </div>
                </div>
				<div class="card-header">
        <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Question 3: Can I use the AI Fight Predictor for betting purposes?
            </button>
        </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faqAccordion">
        <div class="card-body">
            Answer 3: While the AI Fight Predictor provides predictions based on data analysis and machine learning, it should not be the sole basis for making betting decisions. It's important to conduct your own research and make informed decisions.
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Question 4: How frequently is the AI Fight Predictor updated?
            </button>
        </h2>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#faqAccordion">
        <div class="card-body">
            Answer 4: The AI Fight Predictor is regularly updated, fight training data is usually added the same day of the fights, larger improvements take more time!
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h2 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Question 5: Are there any fees to use the AI Fight Predictor?
            </button>
        </h2>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#faqAccordion">
        <div class="card-body">
            Answer 5: We currently offer free predictions on our socials and email list, full access to the predictor is $5 USD per month, cancel anytime!
        </div>
    </div>
</div>
            </div>
			
    </div>
    <footer class="text-center mt-5">
        <p>&copy; 2024 AI Fight Predictor. All rights reserved.</p>
    </footer>
  </div>
</body>
</html>
