<!DOCTYPE html>
<html lang="en">

<head>
  <title>Fight Night Predictions - AI Fight Predictor</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script>
    var MemberSpace = window.MemberSpace || {"subdomain":"aifightpredictor"};
    (function(d){
         var s = d.createElement("script");
       s.src = "https://cdn.memberspace.com/scripts/widgets.js";
         var e = d.getElementsByTagName("script")[0];
       e.parentNode.insertBefore(s,e);
    }(document));
  </script>
</head>

<body>
  <!-- <div>
    <div>
      <div
        class="py-[15px] md:px-[40px] px-[30px] bg-[#93A9A6] flex items-center sm:justify-start justify-between fixed left-0 right-0 top-0">
        <img src="/logo.svg" alt="" class="h-[50px] w-[50px]" />
        <a href="{{ url_for('home') }}" class="font-semibold text-white ml-[30px] cursor-pointer underline sm:flex hidden ">Home</a>
        <a href="{{ url_for('predict') }}" class="font-semibold text-white ml-[30px] cursor-pointer underline sm:flex hidden">Predictor</a>
        <a href="{{ url_for('fightnight') }}" class="font-semibold text-white ml-[30px] cursor-pointer underline sm:flex hidden">Weekly Fight Predictions</a>
        <div class="relative"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6 sm:hidden">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
          </svg></div>
      </div>
    </div>
    <div class="px-[10px] mt-[120px]">
      <p class="sm:text-[70px] text-[50px] sm:leading-[100px] leading-[60px] text-center mt-[30px]">AI Fight Predictions
      </p><img src="/toplogo.png" alt="" class="m-auto" />
      <p class="font-bold text-[40px] mt-[20px] text-center">UFC 300</p>

      {% for prediction in predictions %}
        <div class="mt-[30px]">
          <p class="font-bold text-[24px] text-center">{{ prediction.matchup }}</p>
          <p class="text-[26px] text-center">Predicted Winner: {{ prediction.winner }}</p>
          <p class="text-[26px] text-center">Probability: {{ '%.2f'|format(prediction.probability) }}%</p>
        </div>
      {% endfor %}
    </div>
    <div>
      <div class="bg-white py-[10px] mt-[50px] px-[20px]">
        <p class="text-[12px] font-bold text-center">Disclaimer :</p>
        <p class="text-[12px] font-bold text-center">The AI Fight Predictor provides predictions based on statistical
          analysis and machine learning models. While we strive for accuracy and utilize advanced algorithms to analyze
          data, it is important for users to understand that no prediction can be guaranteed to be correct. The outcomes
          of sports events are subject to many unpredictable factors, and as such, our predictions should be used as one
          of several tools in making informed betting decisions.</p>
        <p class="text-[12px] font-bold text-center mt-[15px]">We encourage all users to bet responsibly. Betting should
          always be done within your financial means and with awareness of the risks involved. Our service is not intended
          to encourage excessive or problem gambling. If you or someone you know has a gambling problem, we urge you to
          seek help from qualified professionals in your area.</p>
        <p class="text-[12px] font-bold text-center mt-[15px]">Our predictions are provided with the best intentions and
          for entertainment purposes. By using our service, you acknowledge that you bear full responsibility for any
          betting decisions you make, and agree not to hold AI Fight Predictor liable for any losses or damages arising
          from the use of our predictions.</p>
        <p class="text-[12px] font-bold text-center mt-[15px]">Please remember, responsible gambling is paramount. Bet
          wisely, and never bet more than you can afford to lose.</p>
      </div>
    </div>
  </div> -->
  <div>
    <div>
      <div
        class="py-[15px] md:px-[40px] px-[30px] bg-[white] border-b  flex items-center sm:justify-start  z-50 fixed left-0 right-0 top-0">
        <img src="{{url_for('static', filename='/logo.svg')}}" alt="" class="h-[50px] w-[50px]" /><a href="{{url_for('home')}}"
          class="font-semibold text-[14px] opacity-70  hover:text-[#3b8bea] hover:underline ml-[30px] cursor-pointer  sm:flex hidden ">Home</a><a
          href="{{url_for('predict')}}"
          class="font-semibold text-[14px] opacity-70  hover:text-[#3b8bea] hover:underline ml-[30px] cursor-pointer  sm:flex hidden ">Predictor</a><a
          href="{{url_for('fightnight')}}"
          class="font-semibold text-[14px] opacity-70  hover:text-[#3b8bea] hover:underline ml-[30px] cursor-pointer  sm:flex hidden ">Weekly
          Fight Predictions</a>
        <div class="relative"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6 sm:hidden ml-[20px]">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
          </svg></div>
      </div>
    </div>
    <div class=" mt-[120px]"><img src="{{url_for('static', filename='/toplogo.png')}}" alt="" class="m-auto" />
      <p class="sm:text-[45px] text-[30px] font-semibold sm:leading-[60px] leading-[30px] text-center ">AI Fight
        Predictions</p>
      <p class="font-bold sm:text-[45px] text-[30px]  text-center">UFC Vegas 103  </p>
      <div class="grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-2 grid-cols-1 gap-4 xl:px-[120px] px-[30px] mt-[50px]">
        {% for p in predictions %}
        <div
          class="bg-[#2EB1BE] py-[15px] px-[10px] rounded-md text-white text-[20px] cursor-pointer transition-all duration-500 ease-in-out hover:scale-105">
          <p class="font-semibold text-[20px] text-center">
            {{ p['fighter1'] }}
            <span class="text-black"> vs</span>
            {{ p['fighter2'] }}
          </p>
          <p class="text-[18px] text-center">
            Predicted Winner: <span class="font-semibold ">{{ p['winner'] }}</span>
          </p>
          <p class="text-[16px] text-center">
            Probability: <span class="font-semibold ">{{'%0.2f'|format(p['probability']|float)}}%</span>
          </p>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="bg-[#F2FCFD] xl:px-[120px] px-[30px]">
      <div class=" py-[50px] mt-[50px] ">
        <p class="text-[20px] font-bold ">Disclaimer :</p>
        <p class="text-[14px] font-medium mt-2">The AI Fight Predictor provides predictions based on statistical analysis
          and machine learning models. While we strive for accuracy and utilize advanced algorithms to analyze data, it is
          important for users to understand that no prediction can be guaranteed to be correct. The outcomes of sports
          events are subject to many unpredictable factors, and as such, our predictions should be used as one of several
          tools in making informed betting decisions.</p>
        <p class="text-[14px] font-medium  mt-[15px]">We encourage all users to bet responsibly. Betting should always be
          done within your financial means and with awareness of the risks involved. Our service is not intended to
          encourage excessive or problem gambling. If you or someone you know has a gambling problem, we urge you to seek
          help from qualified professionals in your area.</p>
        <p class="text-[14px] font-medium  mt-[15px]">Our predictions are provided with the best intentions and for
          entertainment purposes. By using our service, you acknowledge that you bear full responsibility for any betting
          decisions you make, and agree not to hold AI Fight Predictor liable for any losses or damages arising from the
          use of our predictions.</p>
        <p class="text-[14px] font-medium  mt-[15px]">Please remember, responsible gambling is paramount. Bet wisely, and
          never bet more than you can afford to lose.</p>
      </div>
    </div>
  </div>
</body>

</html>
