<!DOCTYPE html>
<html lang="en">
<head>
<script src="https://cdn.tailwindcss.com"></script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-V461GQ8J6D"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-V461GQ8J6D');
</script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Fight Predictor - Home</title>
    
  
   <script> 
        var MemberSpace = window.MemberSpace || {"subdomain":"aifightpredictor"};
        (function(d){
            var s = d.createElement("script");
            s.src = "https://cdn.memberspace.com/scripts/widgets.js";
            var e = d.getElementsByTagName("script")[0];
            e.parentNode.insertBefore(s,e);
        }(document));
    </script>

    <link rel="stylesheet" href="/twcss/bundle.css">

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
</head>
<body>
  <div>
    <div>
      <div
        class="py-[15px] md:px-[40px] px-[30px] bg-[white] border-b  flex items-center sm:justify-start  z-50 fixed left-0 right-0 top-0">
        <img src="/logo.svg" alt="" class="h-[50px] w-[50px]" /><a href="/"
          class="font-semibold text-[14px] opacity-70  hover:text-[#3b8bea] hover:underline ml-[30px] cursor-pointer  sm:flex hidden ">Home</a><a
          href="/predict"
          class="font-semibold text-[14px] opacity-70  hover:text-[#3b8bea] hover:underline ml-[30px] cursor-pointer  sm:flex hidden ">Predictor</a><a
          href="/fightnight"
          class="font-semibold text-[14px] opacity-70  hover:text-[#3b8bea] hover:underline ml-[30px] cursor-pointer  sm:flex hidden ">Weekly
          Fight Predictions</a>
        <div class="relative"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-6 h-6 sm:hidden ml-[20px]">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
          </svg></div>
      </div>
    </div>
    <div class="">
      <div class="xl:px-[120px] px-[30px] mt-[120px]">
        <div class="grid grid-cols-12 items-center mt-[50px]">
          <div class="col-span-12 sm:hidden"><img src="/Clip.png" alt="" /></div>
          <div class=" sm:col-span-7 col-span-12 ">
            <div class="sm:max-w-[550px] max-w-[100%]">
              <p
                class="react-reveal sm:text-[45px] text-[30px] sm:leading-[50px] capitalize font-semibold leading-[40px] sm:mt-0 mt-[20px]">
                the Future of fight Prediction</p>
              <p class="react-reveal text-[#75797B] sm:text-[18px] text-[16px] mt-3 font-semibold">Predict MMA Fights with
                Unmatched Accuracy</p>
                <a href="/predict">
              <div
                class="react-reveal bg-[#2EB1BE] hover:text-[#2EB1BE] hover:bg-[white] hover:border-[#2EB1BE] border sm:rounded-lg rounded-md text-white px-[30px] flex justify-center items-center h-[40px] font-semibold text-[14px] mt-[20px] w-fit cursor-pointer transition-colors duration-500 ease-in-out ">
                Get started</div>
              </a>
            </div>
          </div>
          <div class="col-span-5 sm:block hidden"><img src="/Clip.png" alt="" class="react-reveal" /></div>
        </div>
      </div>
      <div class="how-it-works sm:mt-[150px] mt-[50px] bg-[#F2FCFD] py-[100px] xl:px-[120px] px-[30px] ">
        <p class="react-reveal sm:text-[45px] text-[30px] text-center capitalize font-semibold ">How it works</p>
        <div class="grid lg:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-10 mt-[50px]">
          <div
            class="bg-[#FFF4E3] group hover:bg-[#2EB1BE] cursor-pointer rounded-tr-[70px] rounded-bl-[70px] py-[15px]  px-[20px] w-[100%] transition-all duration-300 ease-in-out">
            <div class="react-reveal"> </div><img src="/hand.svg" alt="" class="react-reveal m-auto" />
            <div class="mt-[20px]">
              <p
                class="react-reveal text-center group-hover:text-white font-bold text-[25px] transition-all duration-300 ease-in-out">
                STEP 1</p>
              <div
                class="react-reveal text-[18px] group-hover:text-white font-semibold text-center transition-all duration-300 ease-in-out">
                Create an account</div>
            </div>
            <div class="px-[20px] mt-[30px]">
              <div
                onclick="document.querySelector('[data-testid=memberButton]').click()"
                class="react-reveal cursor-pointer text-center px-[20px] py-[10px]  group-hover:bg-transparent group-hover:border border-white text-white bg-[#2EB1BE] rounded-lg font-bold transition-all duration-300 ease-in-out">
                Create an account</div>
            </div>
          </div>
          <div
            class="bg-[#FFF4E3] group hover:bg-[#2EB1BE] cursor-pointer rounded-tr-[70px] rounded-bl-[70px] py-[15px]  px-[20px] w-[100%] transition-all duration-300 ease-in-out">
            <div class="react-reveal"> </div><img src="/2.svg" alt="" class="react-reveal m-auto" />
            <div class="react-reveal"> </div>
            <div class="mt-[20px]">
              <div class="react-reveal"> </div>
              <p
                class="react-reveal text-center group-hover:text-white font-bold text-[25px] transition-all duration-300 ease-in-out">
                STEP 2</p>
              <div class="react-reveal"> </div>
              <div class="react-reveal"> </div>
              <p
                class="react-reveal text-[18px] group-hover:text-white font-semibold text-center transition-all duration-300 ease-in-out">
                <!-- -->Sign up to an AI fight prediction plan</p>
            </div>
            <div class="px-[20px] mt-[30px]">
              <a
                href="/#plans">
                <div
                class="react-reveal cursor-pointer text-center px-[20px] py-[10px]  group-hover:bg-transparent group-hover:border border-white text-white bg-[#2EB1BE] rounded-lg font-bold transition-all duration-300 ease-in-out">
                See Plans
              </div></a>
            </div>
          </div>
          <div
            class="bg-[#FFF4E3] group hover:bg-[#2EB1BE] cursor-pointer rounded-tr-[70px] rounded-bl-[70px] py-[15px]  px-[20px] w-[100%] transition-all duration-300 ease-in-out">
            <div class="react-reveal"> </div><img src="/3.svg" alt="" class="react-reveal m-auto" />
            <div class="react-reveal"> </div>
            <div class="mt-[20px]">
              <div class="react-reveal"> </div>
              <p
                class="react-reveal text-center group-hover:text-white font-bold text-[25px] transition-all duration-300 ease-in-out">
                STEP 3</p>
              <div class="react-reveal"> </div>
              <p
                class="react-reveal text-[18px] group-hover:text-white font-semibold text-center transition-all duration-300 ease-in-out ">
                Receive access</p>
            </div>
            <div class="px-[20px] mt-[30px]">
              <div
                onclick="document.querySelector('[data-testid=memberButton]').click()"
                class="react-reveal cursor-pointer text-center px-[20px] py-[10px]  group-hover:bg-transparent group-hover:border border-white text-white bg-[#2EB1BE] rounded-lg font-bold transition-all duration-300 ease-in-out">
                Receive access</div>
            </div>
          </div>
        </div>
      </div>
      <section class="big-prediction mt-[100px] xl:px-[120px] px-[30px]">
        <p class="react-reveal sm:text-[45px] text-[30px] font-bold text-center">Big predictions</p>
      </section>
      <p class="react-reveal font-medium text-[18px] text-center text-[#75797B] xl:px-[120px] px-[30px]">Just a handful of
        times our model beat the bookies big time</p>
      <div class="grid md:grid-cols-3 sm:grid-cols-3 grid-cols-1 xl:gap-14 gap-4 mt-[50px] xl:px-[120px] px-[30px]">
        <div
          class="react-reveal bg-[#2EB1BE] rounded-lg p-2 cursor-pointer hover:scale-110 transition-all duration-500 ease-in-out my-hover">
          <img src="/boxing.svg" alt="" class="w-[100%] rounded-lg " />
          <div class="py-[15px] px-[15px]">
            <p class="font-bold text-white text-[20px] text-center">+200</p>
          </div>
        </div>
        <div
          class="react-reveal bg-[#2EB1BE] rounded-lg p-2 cursor-pointer hover:scale-110 transition-all duration-500 ease-in-out my-hover">
          <img src="/1.svg" alt="" class="w-[100%] rounded-lg " />
          <div class="py-[15px] px-[15px]">
            <p class="font-bold text-white text-[20px] text-center">+195</p>
          </div>
        </div>
        <div
          class="react-reveal bg-[#2EB1BE] rounded-lg p-2 cursor-pointer hover:scale-110 transition-all duration-500 ease-in-out my-hover">
          <img src="/4.svg" alt="" class="w-[100%] rounded-lg " />
          <div class="py-[15px] px-[15px]">
            <p class="font-bold text-white text-[20px] text-center">+200</p>
          </div>
        </div>
        <div
          class="react-reveal bg-[#2EB1BE] rounded-lg p-2 cursor-pointer hover:scale-110 transition-all duration-500 ease-in-out my-hover">
          <img src="/5.svg" alt="" class="w-[100%] rounded-lg " />
          <div class="py-[15px] px-[15px]">
            <p class="font-bold text-white text-[20px] text-center">+205</p>
          </div>
        </div>
        <div
          class="react-reveal bg-[#2EB1BE] rounded-lg p-2 cursor-pointer hover:scale-110 transition-all duration-500 ease-in-out my-hover">
          <img src="/6.svg" alt="" class="w-[100%] rounded-lg " />
          <div class="py-[15px] px-[15px]">
            <p class="font-bold text-white text-[20px] text-center">+175</p>
          </div>
        </div>
        <div
          class="react-reveal bg-[#2EB1BE] rounded-lg p-2 cursor-pointer hover:scale-110 transition-all duration-500 ease-in-out my-hover">
          <img src="/7.svg" alt="" class="w-[100%] rounded-lg " />
          <div class="py-[15px] px-[15px]">
            <p class="font-bold text-white text-[20px] text-center">+205</p>
          </div>
        </div>
        <div
          class="react-reveal bg-[#2EB1BE] rounded-lg p-2 cursor-pointer hover:scale-110 transition-all duration-500 ease-in-out my-hover">
          <img src="/8.svg" alt="" class="w-[100%] rounded-lg " />
          <div class="py-[15px] px-[15px]">
            <p class="font-bold text-white text-[20px] text-center">+210</p>
          </div>
        </div>
        <div
          class="react-reveal bg-[#2EB1BE] rounded-lg p-2 cursor-pointer hover:scale-110 transition-all duration-500 ease-in-out my-hover">
          <img src="/9.svg" alt="" class="w-[100%] rounded-lg " />
          <div class="py-[15px] px-[15px]">
            <p class="font-bold text-white text-[20px] text-center">+305</p>
          </div>
        </div>
      </div>
      <div class="about-ai md:mt-[100px] mt-[50px] xl:px-[120px] px-[30px] bg-[#F2FCFD] py-[100px]">
        <p class="react-reveal sm:text-[45px] text-[30px]  text-center font-semibold">About the AI</p>
        <div class="grid grid-cols-12 mt-[50px] items-center">
          <div class="col-span-12 md:hidden"><img src="/big.svg" alt="" class="m-auto" /></div>
          <div class="md:col-span-5 col-span-12">
            <div class=" text-white ">
              <div class="flex items-center h-[60px]  py-[10px] px-3 bg-[#2EB1BE]"><svg xmlns="http://www.w3.org/2000/svg"
                  fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M20.25 6.375c0 2.278-3.694 4.125-8.25 4.125S3.75 8.653 3.75 6.375m16.5 0c0-2.278-3.694-4.125-8.25-4.125S3.75 4.097 3.75 6.375m16.5 0v11.25c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125V6.375m16.5 0v3.75m-16.5-3.75v3.75m16.5 0v3.75C20.25 16.153 16.556 18 12 18s-8.25-1.847-8.25-4.125v-3.75m16.5 0c0 2.278-3.694 4.125-8.25 4.125s-8.25-1.847-8.25-4.125">
                  </path>
                </svg>
                <p class="text-[25px] font-semibold ml-3">Database</p>
              </div>
              <div class="bg-[#2EB1BE] bg-opacity-70 py-3">
                <div class="flex items-center ml-[20px]  pt-2 ">
                  <div class="w-[5px] h-[5px] bg-white rounded-full"></div>
                  <p class="text-[18px] ml-[10px]">3449 fighters</p>
                </div>
                <div class="flex items-center ml-[20px]  mt-1">
                  <div class="w-[5px] h-[5px] bg-white rounded-full"></div>
                  <p class="text-[18px] ml-[10px]">Results of over 5,000 fights</p>
                </div>
                <div class=" px-[25px]">
                  <p class="text-[18px] mt-[25px]">Our machine learning model trains itself from 75% of the fights and
                    fighter stats then tests itself on the other 25%.</p>
                  <p class="text-[18px] mt-[25px]">The accuracy result sits between 71-76% correct on nearly 1250 fights!
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-span-7 md:block hidden"><img src="/big.svg" alt="" class="m-auto" /></div>
        </div>
        <div class="grid sm:grid-cols-2 gap-8 mt-[30px]">
          <div class="react-reveal bg-[#2EB1BE] py-[15px] px-[20px] rounded-md text-white text-[20px]">
            <p class="sm:text-[25px] text-[20px] font-semibold">Offensive fighter stats:</p>
            <p class="mt-3  font-medium">SLpM - significant strikes landed per minute</p>
            <p class=" font-medium"> <!-- -->str. acc. - significant striking accuracy</p>
            <p class=" font-medium"> <!-- -->TD avg. - average takedowns landed per 15 minutes</p>
            <p class=" font-medium"> TD acc. - takedown accuracy</p>
            <p class="font-medium"> <!-- -->Sub. avg. - average submissions attempted per 15 minutes</p>
          </div>
          <div class="react-reveal bg-[#2EB1BE] p-[15px] rounded-md text-white text-[20px]">
            <p class="sm:text-[25px] text-[20px] font-semibold">Defensive fighter stats:</p>
            <p class="mt-3  font-medium">SApM - significant strikes absorbed per minute</p>
            <p class=" font-medium">Str. def. - significant strike defence</p>
            <p class=" font-medium">(the % of opponents&#x27; strikes that did not land)</p>
            <p class=" font-medium">TD def. - takedown defense</p>
            <p class=" font-medium">(the % of opponents TD attempts that did not land)</p>
          </div>
        </div>
      </div>
      <div id="plans" class="Subscription mt-[100px]">
        <p class="react-reveal text-center md:text-[45px] text-[30px] font-bold xl:px-[120px] px-[30px]">Subscription
          plans</p>
        <div class="lg:flex justify-between items-center  mt-[30px] xl:px-[120px] px-[30px]">
          <div
            class="react-reveal bg-[#FFF4E3] group hover:bg-[#2EB1BE] cursor-pointer p-[20px] rounded-xl lg:w-[45%] w-[100%] transition-all duration-300 ease-in-out">
            <div>
              <p
                class="sm:text-[25px] text-[20px] font-bold group-hover:text-white  sm:leading-[30px] leading-[30px] transition-all duration-300 ease-in-out">
                Subscribe to the weekly prediction model plan to:</p>
              <p class=" mt-[20px] font-semibold group-hover:text-white transition-all duration-300 ease-in-out">Access
                all predictions for the coming UFC fight cards prediction<!-- --> </p>
            </div>
            <div class="sm:mt-[130px] mt-[50px]">
              <div
                onclick="document.querySelector('[data-testid=memberButton]').click()"
                class="py-[10px] cursor-pointer  w-full bg-[#2EB1BE] group-hover:bg-transparent border text-white md:text-[18px] text-[16px] font-bold text-center rounded-lg transition-all duration-300 ease-in-out">
                <p class="text-white">Get access</p>
              </div>
            </div>
          </div>
          <div class="lg:w-[10%] w-[100%]">
            <p class="text-[40px]  font-bold text-center">or</p>
          </div>
          <div
            class="react-reveal bg-[#FFF4E3] group hover:bg-[#2EB1BE] cursor-pointer p-[20px] rounded-xl lg:w-[45%] w-[100%] transition-all duration-300 ease-in-out">
            <div>
              <p
                class="md:text-[25px] text-[20px] font-bold group-hover:text-white  sm:leading-[30px] leading-[30px]  transition-all duration-300 ease-in-out">
                Subscribe to the Full AI Fight Predictor model plan to:</p>
              <p class="font-semibold  mt-[20px] group-hover:text-white transition-all duration-300 ease-in-out">Access
                all predictions for the coming UFC fight cards prediction</p>
              <p
                class=" md:text-[20px] text-[20px] text-center  mt-[10px] group-hover:text-white transition-all duration-300 ease-in-out">
                +</p>
              <p class="font-semibold  mt-[10px] group-hover:text-white transition-all duration-300 ease-in-out">The match
                up tool, input any two fighter names and see who the model predicts to win!</p>
            </div>
            <div class=" mt-[35px] cursor-pointer">
              <div
                onclick="document.querySelector('[data-testid=memberButton]').click()"
                class="py-[10px] cursor-pointer  w-full bg-[#2EB1BE] group-hover:bg-transparent border text-white md:text-[18px] text-[16px] font-bold text-center rounded-lg transition-all duration-300 ease-in-out ">
                <p class="text-white">Get access</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-[#F2FCFD] xl:px-[120px] px-[30px] headline">
      <div class=" py-[50px] mt-[50px] ">
        <p class="text-[20px] font-bold ">Disclaimer :</p>
        <p class="text-[14px] font-medium mt-2">The AI Fight Predictor provides predictions based on statistical analysis
          and machine learning models. While we strive for accuracy and utilize advanced algorithms to analyze data, it is
          important for users to understand that no prediction can be guaranteed to be correct. The outcomes of sports
          events are subject to many unpredictable factors, and as such, our predictions should be used as one of several
          tools in making informed betting decisions.</p>
        <p class="text-[14px] font-medium  mt-[15px]">We encourage all users to bet responsibly. Betting should always be
          done within your financial means and with awareness of the risks involved. Our service is not intended to
          encourage excessive or problem gambling. If you or someone you know has a gambling problem, we urge you to seek
          help from qualified professionals in your area.</p>
        <p class="text-[14px] font-medium  mt-[15px]">Our predictions are provided with the best intentions and for
          entertainment purposes. By using our service, you acknowledge that you bear full responsibility for any betting
          decisions you make, and agree not to hold AI Fight Predictor liable for any losses or damages arising from the
          use of our predictions.</p>
        <p class="text-[14px] font-medium  mt-[15px]">Please remember, responsible gambling is paramount. Bet wisely, and
          never bet more than you can afford to lose.</p>
      </div>
    </div>
  </div>

  <script src="https://unpkg.com/scrollreveal"></script>
  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
      ScrollReveal().reveal('div', {
        delay: 0,
        distance: '0px',
        duration: 1000,
        // easing: 'cubic-bezier(0.5, 0, 0, 1)',
        easing: 'cubic-bezier(0.68, -0.6, 0.32, 1.6)',
        interval: 0,
        opacity: 0,
        origin: 'top',
        rotate: {
            x: 0,
            y: 0,
            z: 0,
        },
        scale: 1,
        cleanup: false,
        container: document.documentElement,
        desktop: true,
        mobile: true,
        reset: false,
        useDelay: 'always',
        viewFactor: 0.0,
        viewOffset: {
            top: 0,
            right: 0,
            bottom: 0,
            left: 0,
        },
      });
    });
  </script>


</body>
</html>
